@CHARSET "UTF-8";

/*====레이아웃=====*/
body{
	margin:0;
	padding:0;
	background:rgb(247, 248, 249);
}
a#nav_menu:link {
	color:black;
}
a#nav_menu:visited{
	color:black;
}
a#nav_menu:hover{
	color:rgba(255, 255, 255, 0.3);
}
div#fix_menu{
	position:fixed;
	width: 100%;
	background-color:rgba(255, 255, 255, 0.8);
	margin: 0;
	border-bottom: 2px solid;
	border-color:rgb(242, 242, 242);
}
div#bar_logo{
	width:25%;
	float:left;
	margin-top:20px;
}
div#bar_menu{
	width:25%;
	float:left;
	margin-top:40px;
	margin-bottom:30px;
}
div#bar_search{
	width:40%;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}
div#bar_nav{
	position:fixed;
	display:none;
	overflow:hidden;
}
div#bar_nav img#menubar{
	height:80px;
	width:80px;
	margin-top:20px;
	margin-right:20px;
	padding-right:20px;
}
#bar_nav .toolbar_wrap #bar_button{
	display:table;
	width:100%;
	height:100%;
	margin-left:10px;
}
#bar_nav .menu_background{
	position:fixed;
	height:100%;
	width:20%;
	right:-10%;
	margin-top:37px;
	background-color:rgba(0, 0, 0, 0.8);
	display:none;
}
#bar_nav .menu_wrap{
	position:fixed;
	display:inline;
	z-index:999;
	top: 0px;
	width: 30%;
	right: -10%;
	margin-top:300px;
	display:none;
}
#bar_nav .menu_background_rev{
	position:fixed;
	height:100%;
	width:80%;
	left:-10%;
	margin-top:37px;
	background-color:rgba(0, 0, 0, 0.3);
	display:none;
}
#bar_nav .menu_wrap #close_menu_button{
	position:absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #000;
}
#cover_close_button{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.0);
	z-index:998;
	display:none;
}
.search input{
	height:20%;
	font-size:25px;
	border-radius:10px;
}
input#keyword{
	width:60%;
}
div#d{
	width:100%;
	float:left;
	margin-bottom:10px;
	text-align:center;
}
div#main{
	width:100%;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
div#main_header{
	background:white;
	margin-bottom:10px;
	padding:0 10px 0 0;
}
div#main_menu{
	margin:0 auto;
	margin-bottom:10px;
	padding:0 10px 0 0;
	background:white;
}
div#main_body{
	width:1220px;
	margin: 0 auto;
	text-align:center;
	padding:5px 5px 30px 5px;
}
div#main_body div#body{
	margin-top:144px;
}
div#main_body div#body div#content_wrapper{
	width:100%;
	min-height:1200px;
	text-align:center;
	background:white;
}
div#main_body div#body div#content_wrapper div#content{
	float:left;
	width:320px;
	min-height:400px;
	text-align:center;
	margin:40px;
	background:gray;
}
div#main_body div#body div#content_wrapper div#content .item{
	text-align:center;
	max-width:300px;
}
div#main_body div#body div#content_wrapper div#content .pre{
	display:inline-block;
	text-align:center;
	max-width:300px;
	word-break:break-all;
}

div#main_body div#body div#flea_content_wrapper{
	width:800px;
	min-height:1200px;
	margin:0 auto;
	text-align:center;
	background:white;
}
div#main_body div#body div#flea_content_wrapper div#filter{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	margin:40px 0 0 40px;
	background:#c0c0c0;
}
div#main_body div#body div#flea_content_wrapper div#write{
	float:right;
	width:75px;
	height:30px;
	line-height:30px;
	margin:40px 40px 0 0;
	background:#c0c0c0;
}
div#main_body div#body div#flea_content_wrapper div#content{
	clear:both;
	float:left;
	width:720px;
	margin:40px;
	background:gray;
}
div#main_body div#body div#flea_content_wrapper div#content div#img{
	float:left;
	width:200px;
	height:250px;
}
div#main_body div#body div#flea_content_wrapper div#content .fleaItem{
	max-width:200px;
	max-height:250px;
}
div#main_body div#body div#flea_content_wrapper div#content div#info{
	float:left;
	width:500px;
	height:200px;
	margin-left:15px;
	background-color:white;
}
div#main_body div#body div#flea_content_wrapper div#content .fleaPre{
	display:inline-block;
	text-align:center;
	word-break:break-all;
}
div#main_body div#body div#flea_content_wrapper div#content div#category{
	float:left;
	width:500px;
	height:50px;
	margin-left:15px;
	background-color:#8080ff;
}
div#main_body div#body div#flea_content_wrapper div#content div#category div#ca1,#ca2,#ca3,#ca4{
	display:inline-block;
	background:#c0c0c0;
	width:50px;
	height:40px;
	line-height:40px;
	margin-top:5px;
	margin-left:30px;
}

div#main_body div#flea_write_wrapper{
	width:800px;
	height:1200px;
	margin:0 auto;
	margin-top:144px;
	background:gray;
}
div#main_body div#flea_write_wrapper ul{
	list-style:none;
}

li#category{
	display:inline-block;
}

/*====메뉴====*/
div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}
/*====페이지 기본 스타일====*/
.page-main-style{
	width:100%;
	margin:0 auto;
}
.align-left{
	text-align:left;
	padding-left:3%;
}
div.align-left img{
	width:80px;
	height:80px;
}
.align-right{
	text-align:right;
}
div.align-right a{
	font-size:15px;
}
.align-center{
	text-align:center;
}
div.align-center a{
	padding-left:5.5%;
	font-size:20px;
	text-decoration: none;
}
/*목록*/
form#search_form{
	border:none;
}
ul.search{
	list-style:none;
	margin:0 auto;
}
ul.search li{
	display:inline;
}